{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="header-image">
  <!-- <a class="back-to-list montserrat" href="{% url 'companies_list' %}">back to list</a> -->
  <div class="row">
    <a id="individual-company-page-header" href="{{ company.website }}" target="_blank"><h2>{{ company.full_name }} ({{ company }})</h2>
    <br/><p class="montserrat location-text">{{ company.location }}</p></a>

  </div>
</div>
  <div class="row">
    <!-- <h3 class="montserrat">Details</h3> -->
    <ul class="general-data">
        <li class="montserrat">Openning: {{ company.openning }}</li>
        <li class="montserrat">Previous Close: {{ company.previous_close }}</li>
        <li class="montserrat">Volume: {{ company.volume }}</li>
        <li class="montserrat">PE Ratio: {{ company.pe_ratio }}</li>
        <li class="montserrat">EPS: {{ company.eps }}</li>
        <li class="montserrat">1 Year Target: {{ company.one_year }}</li>
    </ul>
    <script>
    console.log(typeof {{ company.openning }})
    </script>

  </div>

{% endblock %}
